name: DEPLOY TO GITHUB PAGES

on:
  push:
    branches:
      - "main"

jobs:
  build-and-deploy:
    name: Build and deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm install

      - name: Deploy
        run: |
          git config --global user.email "luis@devnido.io"
          git config --global user.name "Luis Alamos"
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }} 
          npm run deploy